body{
	
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
}


	


img {
    width: 400px;
    height: auto;
    margin-bottom: 25px;
    
}

}

h2, #message, #finalMessage{
	font-family: Sigmar One;
}





}
